<div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3>Envie-nos uma mensagem</h3>
            <form action="" method="post" data-netlify="true">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nome" required>
                </div><br>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Telefone" required>
                </div><br>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div><br>
                <div class="form-field">
                    <textarea name="comments" placeholder="Mensagem" required></textarea>
                </div><br>
                <input type="submit" class="btn btn-default" value="Enviar">
            </form>
        </div>
