{% comment %}
    Displays a list of partner logos from a document's front matter
{% endcomment %}

{% if page.partners %}
<section class="partners">
    <div class="container">
        <h2>Parceiros</h2>
        <div class="flexslider">
            <ul class="slides">
               {{ urls }}
                {% for logo in page.partners %}
                    <li>
                        <a href=" {{ page.logoli }}">
                        <img src="{{ logo | absolute_url }}" alt="{{ logo }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
